# OS-specific
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.iml
*.swp
*.swo

# Env files
.env
.envrc.private

# Logs
*.log
logs/
te-logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies
node_modules/
vendor/

# Build artifacts
dist/
build/
out/

tmp/

# Backups
backups/

# Docker data
data/
ansible/inventory/inventory.yml
