services:
  django:
    network_mode: host
    image: ${DOCKER_REGISTRY:-ghcr.io}/${DOCKER_ORG:-ts-factory}/${RUNNER_IMAGE_NAME:-bublik-runner}:${IMAGE_TAG:-latest}
    restart: unless-stopped
    extra_hosts:
      - host.docker.internal:host-gateway
    command: >
      gunicorn bublik.wsgi:application
      --bind ${BUBLIK_DOCKER_DJANGO_HOST}:${BUBLIK_DOCKER_DJANGO_PORT}
      --limit-request-line 0
      --chdir ${BUBLIK_SRC}
      --workers ${BUBLIK_WORKERS}
      --timeout ${BUBLIK_TIMEOUT}
      --graceful-timeout ${BUBLIK_GRACEFUL_TIMEOUT}
      --log-file ${BUBLIK_LOG}
      --access-logfile ${BUBLIK_ACCESS_LOG}
      --log-level info
      --name "${BUBLIK_WEB_NAME}"
    environment:
      - BUBLIK_DOCKER_PROXY_PORT=${BUBLIK_DOCKER_PROXY_PORT}
      - BUBLIK_DOCKER_PROXY_EXT_PORT=${BUBLIK_DOCKER_PROXY_EXT_PORT}
      - PER_CONF_DIR=${PER_CONF_DIR}
      - SECRET_KEY=${SECRET_KEY}
      - URL_PREFIX=${URL_PREFIX}
      - BUBLIK_UI_DIR=${BUBLIK_UI_DIR}
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - RABBITMQ_PORT=${RABBITMQ_PORT}
      - DJANGO_SUPERUSER_EMAIL=${DJANGO_SUPERUSER_EMAIL}
      - DJANGO_SUPERUSER_PASSWORD=${DJANGO_SUPERUSER_PASSWORD}
      - SECURE_HTTP=${SECURE_HTTP:-False}
      - ENABLE_JSON_LOGS_PROXY=${ENABLE_JSON_LOGS_PROXY:-False}
      - BUBLIK_UI_DOCS_DIR=${BUBLIK_UI_DOCS_DIR}
      - BUBLIK_SRC=${BUBLIK_SRC}
      - TE_BASE=${TE_BASE}
      - TMPDIR=${TMPDIR}
      - BUBLIK_LOGDIR=${BUBLIK_LOGDIR}
      - BUBLIK_LOG=${BUBLIK_LOG}
      - BUBLIK_ACCESS_LOG=${BUBLIK_ACCESS_LOG}
      - MANAGEMENT_COMMANDS_LOG=${MANAGEMENT_COMMANDS_LOG}
      - DB_HOST=${DB_HOST}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_PORT=${DB_PORT}
      - CELERY_APP=${CELERY_APP}
      - CELERY_RESULT_BACKEND=${CELERY_RESULT_BACKEND}
      - CELERY_ACCEPT_CONTENT=${CELERY_ACCEPT_CONTENT}
      - CELERY_TASK_SERIALIZER=${CELERY_TASK_SERIALIZER}
      - CELERY_RESULT_SERIALIZER=${CELERY_RESULT_SERIALIZER}
      - CELERY_CREATE_DIRS=${CELERY_CREATE_DIRS}
      - CELERYD_MAX_TASKS_PER_CHILD=${CELERYD_MAX_TASKS_PER_CHILD}
      - CELERY_LOG_LEVEL=${CELERY_LOG_LEVEL}
      - FLOWER_PERSISTENT=${FLOWER_PERSISTENT}
      - FLOWER_PORT=${FLOWER_PORT}
      - FLOWER_URL_PREFIX=${FLOWER_URL_PREFIX}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - BUBLIK_WORKERS=${BUBLIK_WORKERS}
      - BUBLIK_TIMEOUT=${BUBLIK_TIMEOUT}
      - BUBLIK_GRACEFUL_TIMEOUT=${BUBLIK_GRACEFUL_TIMEOUT}
      - BUBLIK_WEB_NAME=${BUBLIK_WEB_NAME}
      - HOST_UID=${HOST_UID:-1000}
      - HOST_GID=${HOST_GID:-1000}
      - UMASK=${UMASK:-022}
    expose:
      - ${BUBLIK_DOCKER_DJANGO_PORT}
    entrypoint: ./entrypoint-django.sh
    depends_on:
      - redis
    volumes:
      - ${BUBLIK_DOCKER_DATA_DIR}/django-logs:/app/bublik/logs
      - static_data:/app/bublik/bublik/representation/static
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl --fail http://localhost:${BUBLIK_DOCKER_DJANGO_PORT}${URL_PREFIX}/api/v2/ || exit 1",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

  redis:
    image: redis:8
    restart: unless-stopped
    volumes:
      - redis_data:/data
    expose:
      - ${REDIS_PORT}
    ports:
      - ${REDIS_HOST}:${REDIS_PORT}:6379

  rabbitmq:
    image: rabbitmq:4-management
    ports:
      - ${RABBITMQ_PORT}:5672
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "rabbitmqctl status || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

  celery:
    image: ${DOCKER_REGISTRY:-ghcr.io}/${DOCKER_ORG:-ts-factory}/${RUNNER_IMAGE_NAME:-bublik-runner}:${IMAGE_TAG:-latest}
    command: celery -A ${CELERY_APP} worker --max-tasks-per-child ${CELERYD_MAX_TASKS_PER_CHILD} --concurrency 1 -l ${CELERY_LOG_LEVEL}
    restart: unless-stopped
    environment:
      - BUBLIK_DOCKER_PROXY_PORT=${BUBLIK_DOCKER_PROXY_PORT}
      - BUBLIK_DOCKER_PROXY_EXT_PORT=${BUBLIK_DOCKER_PROXY_EXT_PORT}
      - PER_CONF_DIR=${PER_CONF_DIR}
      - SECRET_KEY=${SECRET_KEY}
      - URL_PREFIX=${URL_PREFIX}
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - RABBITMQ_PORT=${RABBITMQ_PORT}
      - BUBLIK_UI_DIR=${BUBLIK_UI_DIR}
      - BUBLIK_SRC=${BUBLIK_SRC}
      - TE_BASE=${TE_BASE}
      - TMPDIR=${TMPDIR}
      - BUBLIK_LOGDIR=${BUBLIK_LOGDIR}
      - BUBLIK_LOG=${BUBLIK_LOG}
      - BUBLIK_ACCESS_LOG=${BUBLIK_ACCESS_LOG}
      - MANAGEMENT_COMMANDS_LOG=${MANAGEMENT_COMMANDS_LOG}
      - DB_HOST=${DB_HOST}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_PORT=${DB_PORT}
      - CELERY_APP=${CELERY_APP}
      - CELERY_RESULT_BACKEND=${CELERY_RESULT_BACKEND}
      - CELERY_ACCEPT_CONTENT=${CELERY_ACCEPT_CONTENT}
      - CELERY_TASK_SERIALIZER=${CELERY_TASK_SERIALIZER}
      - CELERY_RESULT_SERIALIZER=${CELERY_RESULT_SERIALIZER}
      - CELERY_CREATE_DIRS=${CELERY_CREATE_DIRS}
      - CELERYD_MAX_TASKS_PER_CHILD=${CELERYD_MAX_TASKS_PER_CHILD}
      - CELERY_LOG_LEVEL=${CELERY_LOG_LEVEL}
      - FLOWER_PERSISTENT=${FLOWER_PERSISTENT}
      - FLOWER_PORT=${FLOWER_PORT}
      - FLOWER_URL_PREFIX=${FLOWER_URL_PREFIX}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - BUBLIK_WORKERS=${BUBLIK_WORKERS}
      - BUBLIK_TIMEOUT=${BUBLIK_TIMEOUT}
      - BUBLIK_GRACEFUL_TIMEOUT=${BUBLIK_GRACEFUL_TIMEOUT}
      - BUBLIK_WEB_NAME=${BUBLIK_WEB_NAME}
      - HOST_UID=${HOST_UID:-1000}
      - HOST_GID=${HOST_GID:-1000}
      - UMASK=${UMASK:-022}
    entrypoint: /app/bublik/entrypoint-celery.sh
    network_mode: host
    depends_on:
      - redis
      - rabbitmq
    volumes:
      - ${BUBLIK_DOCKER_DATA_DIR}/django-logs:/app/bublik/logs:rw
    healthcheck:
      test: ["CMD-SHELL", "celery -A ${CELERY_APP} inspect ping || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

  flower:
    image: ${DOCKER_REGISTRY:-ghcr.io}/${DOCKER_ORG:-ts-factory}/${RUNNER_IMAGE_NAME:-bublik-runner}:${IMAGE_TAG:-latest}
    network_mode: host
    command: celery -A ${CELERY_APP} flower --persistent=${FLOWER_PERSISTENT} --url_prefix=${FLOWER_URL_PREFIX} --port=${FLOWER_PORT}
    restart: unless-stopped
    environment:
      - BUBLIK_DOCKER_PROXY_PORT=${BUBLIK_DOCKER_PROXY_PORT}
      - BUBLIK_DOCKER_PROXY_EXT_PORT=${BUBLIK_DOCKER_PROXY_EXT_PORT}
      - PER_CONF_DIR=${PER_CONF_DIR}
      - SECRET_KEY=${SECRET_KEY}
      - URL_PREFIX=${URL_PREFIX}
      - RABBITMQ_HOST=${RABBITMQ_HOST}
      - RABBITMQ_PORT=${RABBITMQ_PORT}
      - BUBLIK_UI_DIR=${BUBLIK_UI_DIR}
      - BUBLIK_SRC=${BUBLIK_SRC}
      - TE_BASE=${TE_BASE}
      - TMPDIR=${TMPDIR}
      - BUBLIK_LOGDIR=${BUBLIK_LOGDIR}
      - BUBLIK_LOG=${BUBLIK_LOG}
      - BUBLIK_ACCESS_LOG=${BUBLIK_ACCESS_LOG}
      - MANAGEMENT_COMMANDS_LOG=${MANAGEMENT_COMMANDS_LOG}
      - DB_HOST=${DB_HOST}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_PORT=${DB_PORT}
      - CELERY_APP=${CELERY_APP}
      - CELERY_RESULT_BACKEND=${CELERY_RESULT_BACKEND}
      - CELERY_ACCEPT_CONTENT=${CELERY_ACCEPT_CONTENT}
      - CELERY_TASK_SERIALIZER=${CELERY_TASK_SERIALIZER}
      - CELERY_RESULT_SERIALIZER=${CELERY_RESULT_SERIALIZER}
      - CELERY_CREATE_DIRS=${CELERY_CREATE_DIRS}
      - CELERYD_MAX_TASKS_PER_CHILD=${CELERYD_MAX_TASKS_PER_CHILD}
      - CELERY_LOG_LEVEL=${CELERY_LOG_LEVEL}
      - FLOWER_PERSISTENT=${FLOWER_PERSISTENT}
      - FLOWER_PORT=${FLOWER_PORT}
      - FLOWER_URL_PREFIX=${FLOWER_URL_PREFIX}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
      - BUBLIK_WORKERS=${BUBLIK_WORKERS}
      - BUBLIK_TIMEOUT=${BUBLIK_TIMEOUT}
      - BUBLIK_GRACEFUL_TIMEOUT=${BUBLIK_GRACEFUL_TIMEOUT}
      - BUBLIK_WEB_NAME=${BUBLIK_WEB_NAME}
    expose:
      - ${FLOWER_PORT}
    depends_on:
      - django
      - redis
      - rabbitmq
    volumes:
      - ./:/data
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl --fail http://localhost:${FLOWER_PORT}/${FLOWER_URL_PREFIX}/ || exit 1",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

  te-log-server:
    image: ${DOCKER_REGISTRY:-ghcr.io}/${DOCKER_ORG:-ts-factory}/${LOG_SERVER_IMAGE_NAME:-bublik-log-server}:${IMAGE_TAG:-latest}
    environment:
      - APACHE_LOG_DIR=/var/log/apache2
      - BUBLIK_DOCKER_TE_LOG_SERVER_PORT=${BUBLIK_DOCKER_TE_LOG_SERVER_PORT}
      - TE_INSTALL=/app/te/build/inst
      - HOST_UID=${HOST_UID:-1000}
      - HOST_GID=${HOST_GID:-1000}
      - UMASK=${UMASK:-022}
      - BUBLIK_FQDN=${BUBLIK_FQDN}
      - BUBLIK_DOCKER_PROXY_PORT=${BUBLIK_DOCKER_PROXY_PORT}
      - BUBLIK_DOCKER_PROXY_EXT_PORT=${BUBLIK_DOCKER_PROXY_EXT_PORT}
      - URL_PREFIX=${URL_PREFIX}
    network_mode: host
    volumes:
      - ${BUBLIK_DOCKER_DATA_DIR}/logs/logs:/home/te-logs/logs:rw
      - ${BUBLIK_DOCKER_DATA_DIR}/logs/incoming:/home/te-logs/incoming:rw
      - ${BUBLIK_DOCKER_DATA_DIR}/logs/bad:/home/te-logs/bad:rw
      - static_te_html:/app/te-logs-static
    restart: unless-stopped

  nginx:
    image: ${DOCKER_REGISTRY:-ghcr.io}/${DOCKER_ORG:-ts-factory}/${NGINX_IMAGE_NAME:-bublik-nginx}:${IMAGE_TAG:-latest}
    restart: unless-stopped
    environment:
      - NGINX_ENVSUBST_OUTPUT_DIR=/etc/nginx/conf.d
      - URL_PREFIX=${URL_PREFIX}
      - DOLLAR=${DOLLAR}
      - BUBLIK_DOCKER_PROXY_PORT=${BUBLIK_DOCKER_PROXY_PORT}
      - BUBLIK_DOCKER_PROXY_EXT_PORT=${BUBLIK_DOCKER_PROXY_EXT_PORT}
      - BUBLIK_DOCKER_BUBLIK_UI_HOST=${BUBLIK_DOCKER_BUBLIK_UI_HOST}
      - BUBLIK_DOCKER_BUBLIK_UI_PORT=${BUBLIK_DOCKER_BUBLIK_UI_PORT}
      - BUBLIK_FQDN=${BUBLIK_FQDN}
      - FLOWER_HOST=${FLOWER_HOST}
      - FLOWER_PORT=${FLOWER_PORT}
      - BUBLIK_DOCKER_TE_LOG_SERVER_HOST=${BUBLIK_DOCKER_TE_LOG_SERVER_HOST}
      - BUBLIK_DOCKER_TE_LOG_SERVER_PORT=${BUBLIK_DOCKER_TE_LOG_SERVER_PORT}
      - BUBLIK_DOCKER_DJANGO_PORT=${BUBLIK_DOCKER_DJANGO_PORT}
      - BUBLIK_DOCKER_DJANGO_HOST_PROXY=${BUBLIK_DOCKER_DJANGO_HOST_PROXY}
      - BUBLIK_DOCKER_DOCS_HOST=${BUBLIK_DOCKER_DOCS_HOST}
      - BUBLIK_DOCKER_DOCS_PORT=${BUBLIK_DOCKER_DOCS_PORT}
    expose:
      - ${BUBLIK_DOCKER_PROXY_PORT}
    network_mode: host
    volumes:
      - ./nginx/templates/prod:/etc/nginx/templates:ro
      - static_data:/app/bublik/bublik/representation/static
      - static_te_html:/app/te-logs-static
    depends_on:
      - django
      - te-log-server
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl --fail http://localhost:${BUBLIK_DOCKER_PROXY_PORT}${URL_PREFIX}/v2/ || exit 1",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 10s

volumes:
  static_data:
  flower_data:
  redis_data:
  static_te_html:
